.main__top {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #f5f5f5;
}

.top__container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.main__top__info {
  height: auto;
  max-width: 652px;
  padding: 50px;
  padding-top: 0px;
  border-radius: 15px;
  background-color: white;
}

.example {
  position: relative;
  left: 325px;
  top: 10px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

.example:hover {
  transform: scale(1.03);
  color: white;
  background-color: #f9681e;
}

.example__inner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.example__img {
  align-self: center;
  padding: 6px;
  border-radius: 50px;
  background-color: #ffffff;
}

.example__text {
  font-size: 14px;
  width: 77px;
}

.main__top__info__top {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 14px;
}

.main__top__info__top span {
  color: #f9681e;
  border: 1px solid #f9681e;
  border-radius: 50px;
  margin-right: 5px;
  padding: 3px;
}

.title {
  max-width: 475px;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 15px;
}

.title span {
  color: #f9681e;
}

.main__top__info__text {
  margin-bottom: 40px;
}

.main__top__list {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.advantages {
  padding: 120px 0;
}

.advantages__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}

.advantages__list {
  display: flex;
  gap: 30px;
}

.decisions {
  padding: 120px 0;
  background-color: #f5f5f5;
}

.decisions__inner {
  display: flex;
  position: relative;
}

.decisions__info {
  width: 55%;
}

.decisions__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.decisions__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.decisions__img {
  position: absolute;
  top: -285px;
  left: 340px;
}

.interaction {
  padding: 120px 0;
}

.interaction__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.interaction__title {
  font-size: 40px;
  font-weight: 700;
  max-width: 400px;
  text-align: center;
  margin-bottom: 40px;
}

.interaction__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
