.link {
  display: inline-block;
  background-color: #f9681e;
  border-radius: 10px;
  font-weight: 700;
  color: white;
  transition: all 0.3s ease;
}

.link:hover {
  transform: scale(1.03);
  background-color: #fc7c3c;
}
